---
import { getPosts } from '@/lib/sortedCollection';

import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { exists } from '../../lib/exists';

export async function getStaticPaths() {
  const allPosts = await getPosts();
  const uniqueTags = [
    ...new Set(
      allPosts
        .map((post) => post.data.tags)
        .filter(exists)
        .flat()
    ),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

type Props = Awaited<ReturnType<typeof getStaticPaths>>[number]['props'];

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost id={post.id} title={post.data.title} />)}
  </ul>
</BaseLayout>
