---
import Tag from '../../components/Tag.astro';
import PageLayout from '../../layouts/PageLayout.astro';
import { exists } from '../../lib/exists';
import { getPosts } from '../../lib/sortedCollection';

const pageTitle = 'Tags';
const allPosts = await getPosts();

const tagCounts = new Map<string, number>();
for (const post of allPosts) {
  const tags = post.data.tags;
  if (exists(tags)) {
    for (const tag of tags) {
      tagCounts.set(tag, (tagCounts.get(tag) ?? 0) + 1);
    }
  }
}
const tagsByPopularity = [...tagCounts.entries()].sort((a, b) => b[1] - a[1]);
---

<PageLayout pageTitle={pageTitle} className="flex flex-col gap-10 px-6">
  <article>
    <h1 class="text-3xl font-bold mb-4">{pageTitle}</h1>
    <p class="text-muted-foreground mb-6">Browse all posts by tag.</p>
    <ul class="">
      {
        tagsByPopularity.map(([tag, count]) => (
          <li class="items-center gap-1">
            <Tag tag={tag} />
            <span class="text-muted-foreground text-sm">({count})</span>
          </li>
        ))
      }
    </ul>
  </article>
</PageLayout>
