---
import { Category } from '../components/Category';
import PostsByYearList from '../components/PostsByYearList.astro';
import { ViewAllCategoriesButton, ViewAllTagsButton } from '../components/ViewAllButtons';
import PageLayout from '../layouts/PageLayout.astro';
import { exists } from '../lib/exists';
import { getPosts } from '../lib/sortedCollection';

const pageTitle = 'Archive';
const allPosts = await getPosts();

const categoryCounts = new Map<string, number>();
for (const post of allPosts) {
  const category = post.data.category;
  if (exists(category)) {
    categoryCounts.set(category, (categoryCounts.get(category) ?? 0) + 1);
  }
}
const categoriesByPopularity = [...categoryCounts.entries()].sort((a, b) => b[1] - a[1]);
---

<PageLayout pageTitle={pageTitle} className="flex flex-col gap-10 px-6">
  <article>
    <h1 class="text-3xl font-bold mb-4">{pageTitle}</h1>
    <section>
      <p>
        What a long strange trip it's been. Look at how much content I have managed to produce. Some posts are of course
        arguably better than others, but still entertaining nevertheless. Explore the years past and discover something
        new.
      </p>
    </section>
    <section>
      <p>I love traveling and writing about it. As you can probably tell from the amount of travel related posts.</p>
      <p>
        If you're interested in where I've been, check out my <a href="/countries">visited countries page</a>.
      </p>
    </section>
  </article>
  <div class="flex flex-col lg:flex-row gap-10 lg:gap-16">
    <div class="flex flex-col flex-1 min-w-0 order-2 lg:order-1">
      <PostsByYearList posts={allPosts} />
    </div>
    <section class="lg:w-48 shrink-0 order-1 lg:order-2 flex flex-col gap-10">
      <div class="flex flex-col gap-4 items-start w-fit">
        <h2 class="text-xl font-bold">Categories</h2>
        <ul class="flex flex-wrap lg:flex-col gap-2 list-none mb-4">
          {
            categoriesByPopularity.map(([category]) => (
              <li>
                <Category category={category} client:load />
              </li>
            ))
          }
        </ul>
        <ViewAllCategoriesButton client:load />
      </div>
      <div class="flex flex-col gap-4 items-start w-fit">
        <h2 class="text-xl font-bold">Tags</h2>
        <ViewAllTagsButton client:load />
      </div>
    </section>
  </div>
</PageLayout>
