header {
  view-transition-name: header-transition;
}

.navigation {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
}

.blur-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.blur-background::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  box-shadow: inset 0 0 17px -5 #ffffff;
  background-color: rgba(255, 255, 255, 0.17);
}

.blur-background::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  filter: url(#glass-distortion);
  -webkit-filter: url('#glass-distortion');
  isolation: isolate;
}

.header-clip-path {
  clip-path: polygon(0 -600px, 100% -600px, 100% calc(100% - 30px), 0 100%);
  -webkit-clip-path: polygon(0 -600px, 100% -600px, 100% calc(100% - 30px), 0 100%);
}

.navigation-button {
  view-transition-name: match-element;
}
