header {
  view-transition-name: header-transition;
  z-index: 99;
}

.navigation {
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.15);
}

.header-clip-path {
  clip-path: polygon(0 -600px, 100% -600px, 100% calc(100% - 30px), 0 100%);
  -webkit-clip-path: polygon(0 -600px, 100% -600px, 100% calc(100% - 30px), 0 100%);
}

.navigation-button {
  view-transition-name: match-element;
}
