---
import { cn } from '@/lib/utils';

import Navigation from './Navigation.astro';

import './header.css';

const currentPath = Astro.url.pathname;
const topClass = currentPath === '/' ? 'mt-25' : 'mt-6';
---

<header id="header" class="contents">
  <img
    src="/logo.svg"
    alt=""
    class={cn(
      `z-10 -mb-4 h-12 w-auto brightness-0 invert drop-shadow-[0px_2px_14px_rgba(0,0,0,0.15)] md:h-14
      pointer-events-none`,
      topClass
    )}
  />
  <div class="sticky top-4 z-9 px-4">
    <Navigation />
  </div>
</header>
