---
import { NavigationButton } from './NavigationButton';

const currentPath = Astro.url.pathname;
---

<nav class="navigation relative flex items-center flex-wrap justify-center gap-2 rounded-full bg-white/10 px-4 py-3">
  <NavigationButton currentPath={currentPath} link="/" title="Blog" />
  <NavigationButton currentPath={currentPath} link="/about" title="About" />
  <NavigationButton currentPath={currentPath} link="/archive" title="Archive" />
</nav>
