---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import ThemeButton from './ThemeButton.astro';
---

<header>
  <nav>
    <div>
      <ThemeButton />
      <Menu />
    </div>
    <Navigation />
  </nav>
  <script>
    import '../scripts/menu.ts';
  </script>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
