---
import { cn } from '@/lib/utils';

import BaseLayout from './BaseLayout.astro';

type Props = {
  pageTitle: string;
  className?: string;
  showBlogWelcome?: boolean;
  ogDescription?: string;
  ogImage?: string;
};

const { pageTitle, className, showBlogWelcome = false, ogDescription, ogImage } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} ogDescription={ogDescription} ogImage={ogImage}>
  <main class="relative w-full flex flex-col items-center">
    <div class="header-clip-path bg-primary h-65 w-full -mt-50 mb-20 pt-10 pb-16 px-4 md:pb-12 scheme-light">
      {
        showBlogWelcome && (
          <h1
            class="text-background text-3xl md:text-4xl font-bold leading-1.2 tracking-[-0.1rem] font-weight-700
              text-center"
          >
            Brodsky Blog
          </h1>
        )
      }
    </div>
    <div class={cn('max-w-4xl w-full', className)}>
      <slot />
    </div>
  </main>
</BaseLayout>
