---
import BaseLayout from './BaseLayout.astro';

type Props = {
  pageTitle: string;
  className?: string;
};

const { pageTitle, className } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <main class={`${className} max-w-4xl w-full`}>
    <slot />
  </main>
</BaseLayout>
